.nav-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #531f8c;
  position: sticky;
  top: 0;
}
.nav-main h1{
  color: white;
}
.nav-list{
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.nav-list a,
.drawer-list a{
  text-decoration: none;
  color: white;
}
.menuIcon {
  display: none;
}
.drawerIcon {
  /* border-bottom: 1px solid grey; */
  border-bottom-width: 100%;
  box-shadow: 7px 0px 10px rgba(40, 40, 40, 0.25);
  padding: 0.5rem;
  background-color: #531f8c;
  color: #ffffff;
  cursor: pointer;
}
.drawer-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem 1rem 1rem;
}

@media only screen and (max-width: 760px) {
  .menuIcon {
    display: block;
  }
  .nav-list{
    display: none;
  }
}